.centriha {
    height: 55px;
    position: relative;
}

.JStimeline {
    height: 55px;
    position: relative;
}
#timeline {
    width: 90%;
    float: right;
}
.tl-title {
    width: 10%;
    float: left;
    border: 2px solid #66DC71;
    margin: auto;
}
.tl-title p {
    text-align: center;
}

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .li {
    transition: all 200ms ease-in;
  }
  

  .status {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #66DC71;
    position: relative;
    transition: all 200ms ease-in;
  }
  .status h4 a {
    font-size: 12px;
    text-decoration: unset;
  }
  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #66DC71;
    border-radius: 25px;
    border: 1px solid #66DC71;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
